body{
  margin: 0;
}

header{
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.navbar-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(211, 211, 211);
  padding-left: 120px;
  padding-right: 120px;
}

.navbar-links{
  list-style: none;
  display: flex;
  flex-direction: row;
  align-content: space-between;
}

.navbar-links li {
  padding: 0px 50px 0px 50px;
}

.item-part{
  width: calc(100% - 400px);
  float: left;
}

.card-container{            /* the section that contains the cards */
  padding-top: 120px;
  padding-left: 30px;
  padding-right: 80px;
  padding-bottom: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  align-items: flex-start;
}

.card{                      /* the individual card */
  width: 100px;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0px 0px 15px rgba(91, 88, 93, 0.266);
  overflow-wrap: break-word;
  text-align: center;
}

.cart-part{
  position: fixed;
  top: 50;
  right: 0;
  width: 400px;
  height: 77%;
  background-color: gray;
  padding: 10px 30px 30px 30px;
  margin-top: 100px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  overflow-y: auto;
}

/* h2{
  position: fixed;
} */

.cart-item{                     /* individual box of the items in the cart */
  background-color: rgb(188, 188, 188);
  padding: 3px 15px;
  margin-top: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.items-left{                /* name and price */
  display: flex;
  align-items: center
}

.items-right{               /* quantity and delete button */
  display: flex;
  align-items: center;
}

.item-count{
  font-family: "LS Reg";
  text-align: right;
}

.delete-button{                 /* delete button */
  cursor: pointer;
  background-color: white;
  text-align: right;
  margin-left: 20px;
  height: 30px;
  transition: background-color 0.3s ease-in-out;
}

.delete-button:hover{          /* delete button on hover */
  background-color: red;
}

.checkout-button{
  margin-top: 20px;
  float: right;
}

.merchant-login {
  text-align: center;
  margin-top: 500px; /* Adjust margin as needed */
}