
body{
  margin: 0;
  padding: 0;
}

header{
  position: relative;
  width: 100%;
  z-index: 1000;
}

.navbar-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(211, 211, 211);
  padding-left: 120px;
  padding-right: 120px;
}

.navbar-links{
  list-style: none;
  display: flex;
  flex-direction: row;
  align-content: space-between;
}

.navbar-links li {
  padding: 0px 50px 0px 50px;
}

.item-part{
  width: calc(100% - 400px);
  float: left;
}

.card-container{            /* the section that contains the cards */
  padding-top: 120px;
  padding-left: 30px;
  padding-right: 80px;
  padding-bottom: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  align-items: flex-start;
}

.card{                      /* the individual card */
  width: 100px;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0px 0px 15px rgba(91, 88, 93, 0.266);
  overflow-wrap: break-word;
  text-align: center;
}

.cart-part{
  position: fixed;
  top: 50;
  right: 0;
  width: 400px;
  height: 77%;
  background-color: gray;
  padding: 10px 30px 30px 30px;
  margin-top: 100px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  overflow-y: auto;
}

/* h2{
  position: fixed;
} */

.product-img{
  width: 100%;
}

.cart-item{                     /* individual box of the items in the cart */
  background-color: rgb(188, 188, 188);
  padding: 3px 15px;
  margin-top: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.items-left{                /* name and price */
  display: flex;
  align-items: center
}

.items-right{               /* quantity and delete button */
  display: flex;
  align-items: center;
}

.item-count{
  font-family: "LS Reg";
  text-align: right;
}

.delete-button{                 /* delete button */
  cursor: pointer;
  background-color: white;
  text-align: right;
  margin-left: 20px;
  height: 30px;
  transition: background-color 0.3s ease-in-out;
}

.delete-button:hover{          /* delete button on hover */
  background-color: red;
}

.total-and-button{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}





.order-summary-container{
  padding: 120px 120px 0 120px;
}

.square-image {
  width: 50px;
  height: 50px;
  overflow: hidden;
}

.square-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}


.orders-main{
  padding: 120px 120px 0 120px;
}

.container{
  padding-top: 80px;
}


.user-div {
  padding-top: 80px;

}

/* CSS FOR SIGNUP/LOGIN */
/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

/* html {
  background-color: #FFCF58;
} */

.SignupPage {
  background-color:  #FFCF58;
  height: 100vh; /* Ensure the background covers the full height */
}

.LoginAdmin {
  background-color:  #596418;
  height: 100vh; /* Ensure the background covers the full height */
}


.Signup-Card {
  background-color: white;
  height: 600px;
  width: 450px;
  justify-content: center;
  border-radius: 50px; /* Adding rounded corners */
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

form {
  width: 80%;


}
.form-group {
  padding: 5px;
  justify-content: center;
}

input {

  padding: 7px;
  width: 90%;
}

/* -------------------------------- */

.fulfillment-main {
  display: flex;
  background-color: #C8C468;
  width: 100%;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

.fulfillment-order-list {
  display: flex;
  flex-direction: column;
  width: 50%;
  transition: width 0.3s ease;
  padding: 30px;
}

.fulfillment-order-list.full-width {
  width: 100%;
}

.fulfillment-product-list {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  width: 50%;
}

.fulfillment-order-title, 
.fulfillment-product-title, 
.fulfillment-order-table td, 
.fulfillment-order-table th, 
.fulfillment-product-table td, 
.fulfillment-product-table th, 
.fulfillment-product-total-items p, 
.fulfillment-product-total-cost p, 
button {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.fulfillment-product-total-items p, 
.fulfillment-product-total-cost p,
.fulfillment-order-table th,
.fulfillment-product-table th {
  font-size: large;
  font-weight: bold;
  color: #ffffff;
}

.fulfillment-order-title, .fulfillment-product-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 40px;
  font-weight: bold;
  margin: 0;
  padding-bottom: 20px;
  color: #ffffff;
}

.fulfillment-order-table, .fulfillment-product-table {
  background-color: #ffffff;
  border-style: solid;
  border-width: 0px;
  padding-bottom: 10px;
  border-spacing: 0px;
  border-radius: 30px;
  overflow: hidden;
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.fulfillment-order-table thead,
.fulfillment-order-table tbody,
.fulfillment-product-table thead,
.fulfillment-product-table tbody  {
  display: table;
}

.fulfillment-order-table thead,
.fulfillment-product-table thead {
  background-color: #596418;
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%; /* Ensure the thead takes full width */
}

.fulfillment-order-table tbody {
  display: block;
  max-height: 600px; /* Set a max height to allow for responsiveness */
  overflow-y: auto; /* Make tbody scrollable */
}

/* Example media queries */
@media (max-height: 600px) {
  .fulfillment-order-table tbody {
    max-height: 400px;
  }
}

@media (max-height: 500px) {
  .fulfillment-order-table tbody {
    max-height: 300px;
  }
}

@media (max-height: 400px) {
  .fulfillment-order-table tbody {
    max-height: 200px;
  }
}

.approve-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.approve-button-img {
  width: 30px; /* Adjust the width as needed */
  height: 30px; /* Adjust the height as needed */
}

.fulfillment-order-table td, .fulfillment-order-table th, .fulfillment-product-table td, .fulfillment-product-table th {
  text-align: center;
  padding: 10px 15px;
  box-sizing: border-box;
  width: 1%; /* Ensure each cell is distributed evenly */
}

.fulfillment-product-totals {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.fulfillment-product-total-items, .fulfillment-product-total-cost {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 25px;
  width: 45%;
  border-style: solid;
  border-width: 0px;
  border-radius: 30px;
  background-color: #596418;
}

.fulfillment-product-buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.fulfillment-product-buttons button {
  display: flex;
  align-self: center;
  margin-bottom: 15px;
  width: 30%;
  border-style: solid;
  border-width: 0px;
  border-radius: 30px;
  background-color: #ffffff;
  text-align: center;
  font-size: large;
  font-weight: bold;
  transition-duration: 0.4s;
  border: 2px solid;
}

.confirm-approval {
  color: #596418;
  border-color: #596418;
}

.cancel-approval {
  color: red;
  border-color: red;
}

.confirm-approval:hover {
  background-color: #596418;
  color: white;
}

.cancel-approval:hover {
  background-color: red;
  color: white;
}